@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Bree Serif', serif;
}

/* #DDDEE1  #94c2eb #0E171B */
.container{
    max-width: 1366px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%
}
header{
   
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    color:white;
    opacity: 0;
    
}

.mobile-close{
    display: none !important;
    color: azure;
    font-size: 40px;
    font-weight: bold;
    
    text-align: end;
    width: 90%;
    margin: 0 auto;
    cursor: pointer;
}

header .fa-bars{
    display: none;
    color: white;
    font-size: 30px;
    margin-right: 20px;
    line-height: 50px;
}

header a{
    display: flex;
    align-items: center;
    max-width: 140px;
    height: 80px;
    margin-left: 10px; 
    color: white
}

header a img{
    align-self: center;
    width: 100%;
}

nav.menu{
    margin-right: 10px;
}

nav.menu ul{
    display: flex;
    list-style: none;
}

nav.menu a{
    text-decoration: none;
    color: white
}


nav.menu ul li{
    display: block;
    line-height: 80px;
    height: 80px;
    padding: 0 30px;
    cursor: pointer;
}

nav.menu ul li:hover{
    background-color: #7AB7C1
}

.banner {
    background-image: url('../imagens/idosos-desk.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: fixed;
    height: 600px;
}

.banner div{
    color:white;
    position: absolute;
    bottom: 220px;
    left: 70px;
}


.banner div h1{
   font-size: 50px;
   letter-spacing: 2px;
}

.banner div p{
   max-width: 600px
 }

main{
    position: relative;
    top: 600px;
    background-color: white;
    height: 1000px;
    transition: 1s;
    padding-top: 20px
}

.header-margin-top{
    margin-top: 80px
}

.titulo-texto{
    display: flex;
    justify-content: center;
    /* margin-top: 10px; */
}

.titulo-texto div{
    /* max-width: 600px */
}

.titulo-texto h1{
    text-align: center;
    color: #1b1616;
    font-size: 50px;
}

.titulo-texto hr{
    height: 5px;
    outline: none;
    border: 0;
    background-color: #94c2eb;
    width: 456px;
    margin: 5px auto;
}
.titulo-texto p{
    
max-width: 600px;
}

.paralax{
    background-image: url('../imagens/idosos-desk.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: azure !important;
    height: 300px;
    align-items: center
}

.paralax h1{
    color: white;
   
}

.sobre{
    background-color: white;
    height: 790px;
}

.sobre .crop-sobre{
    overflow: hidden;
    width: 100%;
    height: 400px;
}

.sobre img{
    width: 100%
}

.sobre > h4{
    color: cadetblue;
    width: 100%;
    text-align: center;
    margin-top: 80px
    
}

.sobre > h1{
    text-align: center;
    width: 100%;
    color: #010129;
    font-size: 50px;
    margin-bottom: 80px;
    line-height: 50px;
}

.sobre .container{
    justify-content: center;
    position: relative;
    bottom: 200px;
}

.sobre .item-sobre{
    width: 320px;
    background-color: white;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.sobre .item-sobre h4{color: cadetblue;}

.sobre .item-sobre h1{line-height: 20px;margin: 20px 0;color: #010129;}

.sobre .item-sobre p{

color: #363636;
}