header{
    height: 50px;
}

header a{
    max-width: 70px;
    height: 50px;
}


.mobile-close{
    display: block !important;
}

header .fa-bars{
    display: block;
}

nav.menu{
    margin: 0;
    position: fixed;
    top: 0px;
    bottom: 0;
    right: 0;
    color: white;
    transition: .6s;
    overflow: hidden;
    width: 0%;
}

nav.menu.menu-ativo{
    width: 100%;
}

nav.menu ul{
    display: flex;
    list-style: none;
    background-color: black;
    flex-direction: column;
    width: 100vw;
    height: 100vh 
}

nav.menu ul li{
    display: block;
    line-height: 50px;
    height: 50px;
    padding: 0 30px;
    cursor: pointer;
    width: 100%;
}

.menu a{
    white-space: nowrap;
    display: flex;
    max-width:100vw;
    height: auto;
}

.banner div{
    width: 100%;
    left: 0;
    bottom: 30%;
}

.banner div h1{
    width: 90%;
    margin: 0 auto;
    text-align: center
}

.banner div p{
    width: 90%;
    margin: 0 auto
}


.sobre .container{

    flex-direction: column;
    align-items: center
}

.sobre{
    height: auto;
    height: 1500px;
}

.titulo-texto h1{
    font-size: 40px
}

.titulo-texto p{
    max-width: 90%;
    margin: 0 auto
}