@media only screen and (min-width:769px) and (max-width:1019px){
    .sobre{
        height: 1121px;
    }
}

@media only screen and (min-width:769px) and (max-width:1000px){

}
.banner div h3 {
    font-size: 45px;
}

.titulo-texto h3{
    font-size: 40px
}

.sobre > h3{
    font-size: 45px
}

.galeria > h3{
    font-size: 45px
}

.depoimentos h3{
    font-size: 40px
}

