header{
    height: 50px;
}

header a{
    max-width: 70px;
    height: 50px;
}


.mobile-close{
    display: block !important;
}

header .fa-bars{
    display: block;
}

nav.menu{
    margin: 0;
    position: fixed;
    top: 0px;
    bottom: 0;
    right: 0;
    color: white;
    transition: .6s;
    overflow: hidden;
    width: 0%;
}

nav.menu.menu-ativo{
    width: 100%;
}

nav.menu ul{
    display: flex;
    list-style: none;
    background-color: black;
    flex-direction: column;
    width: 100vw;
    height: 100vh 
}

nav.menu ul li{
    display: block;
    line-height: 40px;
    height: 40px;
    padding: 0 30px;
    cursor: pointer;
    width: 100%;
    
}

nav.menu ul li{
    display: block;
    line-height: 50px;
    height: 50px;
    padding: 0 30px;
    cursor: pointer;
    width: 100%;
}

.menu a{
    white-space: nowrap;
    display: flex;
    max-width:100vw;
    height: auto;
}


.banner div{
    width: 100%;
    left: 0;
    bottom: 30%;
}

.banner div h3{
    width: 90%;
    margin: 0 auto;
    text-align: center
}

.banner div p{
    width: 90%;
    margin: 0 auto
}

.sobre .container{

    flex-direction: column;
    align-items: center
}

.sobre{
    height: auto;
    height: 1363px;
}

.sobre .item-sobre{
    width: 290px;
    padding: 40px 15px;
}

.sobre .crop-sobre{
    height: 300px;
}

.titulo-texto h3{
    font-size: 40px
}

.titulo-texto p{
    max-width: 90%;
    margin: 0 auto
}

.banner div h3 {
    font-size: 35px;
}

.titulo-texto h3{
    font-size: 35px
}

.sobre > h3{
    font-size: 40px
}

.galeria > h3{
    font-size: 40px
}

.galeria figure {
    width: 130px;
    height: 98px;
}

.depoimentos h3{
    font-size: 35px
}
.contato h3{
    font-size: 35px
}

footer{
    background-color: #241e1e;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap

}

footer a{
    color: white;
    text-decoration: underline;
    flex-grow: 0;
    text-align: center;
}
footer p{
    flex-grow: 0;
    margin-bottom: 5px;
}

section hr{
    width: 80% !important
}

.contato h3 > p{
    width: 80%
}